h1 {
  font-family: 'Bree Serif';
  font-weight: 900;
  color: #ffffff;
}
p {
  font-family: 'Bree Serif';
  font-weight: 900;
  color: #ffffff;
}
.notFoundContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
